[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "multiness"]
	path = multiness
	url = https://github.com/peterwmacd/multiness
	shallow = true
	registered = true
